# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://charlesjoyass_db_user:57XZqt7XTrFdkaKt@cluster0.ceb3uhz.mongodb.net/charlesjoyas_pos?retryWrites=true&w=majority&appName=Cluster0

# Server Port (Default: 3000)
PORT=3000
